<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-search"></i>筛选搜索
        </div>
        <div class="card-body">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="form-group row">
              <div class="col-md-2">
                <label>名称</label>
                <input class="form-control" id="name-input" type="text" name="name" placeholder="Text">
              </div>
              <div class="col-md-2">
                <label>状态</label>
                <select class="form-control" id="status-select" name="status">
                  <option value="">请选择</option>
                  <option value="1">有效</option>
                  <option value="0">无效</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!--/.col-->
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="display-inline-block">
            <i class="fa fa-navicon"></i>数据列表
          </div>
          <div class="display-inline-block">
            <button type="button" class="btn btn-light btn-sm">添&nbsp;&nbsp;&nbsp;加</button>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">编号</th>
              <th scope="col">名称</th>
              <th scope="col">状态</th>
              <th scope="col">新增时间</th>
              <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>

